<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vista Account Password reset</title>
	<!-- Link to Tailwind CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/vista.png" type="image/x-icon">
</head>
<!-- <body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 min-h-screen flex items-center justify-center"> -->

<body style="background: dimgray;" class="min-h-screen flex items-center justify-center">
	<div style="background: gainsboro;" class="bg-white p-8 rounded-lg shadow-lg w-full sm:max-w-md">
		<h2 class="text-3xl font-semibold text-gray-800 text-center mb-6">Reset Password</h2>

		<form class="space-y-4" action="/forget/new-password/request/?email={{ email }}" method="POST" id="resetForm">
			{% csrf_token %}
			<div>
				<label for="email" class="text-sm text-gray-600">New Password</label>
				<input type="password" id="password" name="password" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-purple-500" value="" required>
			</div>
			<div>
				<label for="email" class="text-sm text-gray-600">Confirm Password</label>
				<input type="password" id="confirm" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-purple-500" value="" required>
			</div>
			<p style="color:red; display:none;" id="passChk">Password & confirm password doesn't match</p>
			<input type="button" value="Reset the Password" onclick="submitForm()" class="w-full bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600 focus:outline-none focus:ring focus:border-purple-400">
		</form>
	</div>
	<script>
		function submitForm(){
			var password = document.getElementById("password");
			var confirm = document.getElementById("confirm");
			var errorMsg = document.getElementById("passChk");
			var form = document.getElementById("resetForm");
			if(password.value == confirm.value && password.value != ''){
				form.submit();
			}else{
				errorMsg.style.display = "block";
			}
		}
	</script>
</body>
</html>
